@import 'utils';

.btn {
	background: $primary;
	// width: 4.2rem;
	// height: 4.2rem;
	border-radius: 10rem;
	@include flex-center();
	position: relative;
    box-shadow: 0.2rem 0.4rem 1.4rem rgba(47, 20, 20, 0.34);
	
	&.fixed {
		position: fixed;
		right: 1.6rem;
		bottom: 2.1rem;
	}
	// &:before {
	// 	content:'';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	border-radius: 10rem;
	// 	box-shadow: 0.2rem 0.4rem 1.4rem rgba(235, 70, 70, 0.34);
	// 	mix-blend-mode: multiply;
	// }
}