@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Metropolis-Light.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Metropolis-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Metropolis-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Metropolis-Bold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Metropolis-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Metropolis-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Metropolis-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  900;
}

