@import 'utils';

.dimmer {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.5, 0, .2, 1);
  animation-name: fadeIn;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24 ,24 ,24 ,0.78);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: z-index-for('dimmer');
}